/**
 * 布局样式设置
 */

.global-scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.global-ground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.global-backdrop {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.global-card-item {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 360px;
  margin: 80px 30px 30px 30px;
  cursor: pointer;
}

.global-card-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-right: 60vw;
}

.global-position-right,
.global-position-left {
  position: absolute;
  top: 0;
}

.global-position-left {
  left: 0;
}

.global-position-right {
  right: 0;
}
